<nav class="navbar navbar-light bg-light">
    <div class="d-flex flex-row justify-content-between ps-4 pe-4 w-100 aling-items-center">
        <div>
            <a class="navbar-brand d-flex">
                <img src="/assets/images/midinero.png" class="d-inline-block align-text-top me-3">
                Mi Dinero
            </a>
        </div>
        <div class="p-2">
            <span class="description">{{currentUser.userDTO.userPerson.personName ?? ''}}</span>
        </div>
    </div>
</nav>