@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: RobotoBold;
    src: url("./assets/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: RobotoLight;
    src: url("./assets/fonts/Roboto-Light.ttf");
}
$verde-claro: #41bfaa;
$verde-claro-opaco: #41bfaa91;
$verde-oscuro: #37a08e;
$rojo-invalid: #ff6961;
$bg-color: #e7f3f1;
.content {
    background-color: $bg-color;
}
body {
    height: 100vh;
}
.card {
    overflow: hidden;
    border-radius: 0.5em;
    background: white;
    box-shadow: 0 1.5em 2.5em -0.5em rgba(#eb9878, 0.1);
}
.btn-custom {
    background-color: $verde-claro;
    color: white;
    font-family: Roboto;
    height: 50px;
}
.btn-custom:hover {
    background-color: $verde-oscuro;
    color: white;
    font-family: Roboto;
}
.btn-custom:focus {
    box-shadow: 0 0 0 0.25rem $verde-claro-opaco;
}
.btn-custom-outline {
    background-color: white;
    color: $verde-claro;
    font-family: Roboto;
    border: 1px solid $verde-claro;
    height: 50px;
}
.btn-custom-outline:hover {
    background-color: $verde-oscuro;
    color: white;
    font-family: Roboto;
}
.btn-custom-outline:focus {
    box-shadow: 0 0 0 0.25rem $verde-claro-opaco;
}
.form-control {
    font-family: RobotoLight;
    height: 50px;
    color: $verde-oscuro;
}
.form-control:focus {
    color: $verde-claro;
    background-color: #fff;
    border-color: $verde-oscuro;
    outline: 0;
    box-shadow: 0 0 0 0.25rem $verde-claro-opaco;
}
.form-label {
    font-family: Roboto;
}
.title {
    font-size: 20px;
    font-family: RobotoBold;
    color: $verde-oscuro;
}
.subtitle {
    font-size: 18px;
    font-family: RobotoBold;
    color: $verde-claro-opaco;
}
.invalid-feedback {
    display: block;
    font-family: RobotoLight;
    color: $rojo-invalid;
    font-size: 12px;
}
.invalid-input {
    border-color: $rojo-invalid;
}
.invalid-input::placeholder {
    color: $rojo-invalid;
}
.invalid-input:focus {
    border-color: $rojo-invalid;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}
.loading {
    font-family: Roboto;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.747);
}
.description {
    font-family: RobotoLight;
    font-size: 15px;
}
.item-menu {
    font-family: RobotoLight;
    font-size: 13px;
    cursor: pointer;
}
.item-menu:hover {
    background-color: $bg-color;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
}
.item-selected {
    background-color: $bg-color;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
}
.navbar {
    background-color: white !important;
}
aside {
    width: 13%;
    background-color: white;
}
.ng-sidebar__content {
    margin-left: auto;
    width: 87%;
}
hr:not([size]) {
    height: 0.5px;
}
.table > :not(:first-child) {
    border-top: none;
}
.table-responsive {
    border: 1px solid $verde-claro;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0.2rem $verde-claro-opaco;
}
.col-custom-6 {
    flex: 0 0 auto;
    width: 48%;
}
.modal-content {
    max-height: 90vh;
    overflow-y: auto;
}
.modal-dialog {
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
        margin-left: -5px;
    }
    ::-webkit-scrollbar-thumb {
        background: $verde-claro;
        border-radius: 50px;
    }
}
.password-ico {
    margin-left: -2rem;
    color: $verde-claro;
    cursor: pointer;
}
.text-center{
    text-align: center;
}