<div class="content vh-100 w-100 d-flex justify-content-center align-items-center p-4">
    <div class="card p-4 col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4 col-xxl-3 d-flex flex-column">
        <span class="title mb-2 align-self-center">BIENVENIDO A MI DINERO</span>
        <span class="subtitle mb-4 align-self-center">INICIAR SESIÓN</span>
        <form [formGroup]="formLogin" class="needs-validation">
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <label for="userInput" class="form-label">Usuario</label>
                    <input formControlName="user" type="text" class="form-control" id="userInput"
                        placeholder="Ingrese su usuario"
                        [ngClass]="{'invalid-input' : (formControls.user.errors && submitted)}">
                    <div class="invalid-feedback"
                        *ngIf="formControls.user.errors && formControls.user.errors.required && submitted">Campo
                        requerido</div>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">contraseña</label>
                    <div class="d-flex flex-row align-items-center">
                        <input formControlName="password" type="{{showhideuserpass}}" class="form-control"
                            id="passwordInput" placeholder="Ingrese su contraseña"
                            [ngClass]="{'invalid-input' : (formControls.password.errors && submitted)}">
                        <fa-icon class="password-ico" [icon]="faEye" (click)="changestatususerpass()"></fa-icon>
                    </div>
                    <span class="invalid-feedback mt-2"
                        *ngIf="formControls.password.errors && formControls.password.errors.required && submitted">Campo
                        requerido</span>
                </div>
                <button class="btn btn-custom mt-3" (click)="login()">Ingresar</button>
            </div>
        </form>
    </div>
</div>